@font-face {
    font-family: 'Russo';
    src: url('../../fonts/russo_one-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Russo One';
    src: url("../fonts/Russo_One.ttf"),
    url('../fonts/russo_one-webfont.woff') format('woff'),
}


@font-face {
    font-family: Montserrat;
    src: url("../fonts/ofont.ru_Montserrat.ttf"),
}

@font-face {
    font-family: MVideo;
    src: url("../fonts/MVideo.ttf"),
}

@font-face {
    font-family: Nairi;
    src: url("../fonts/Nairi.ttf"),
}

@font-face {
    font-family: FiraSans-Medium;
    src: url("../fonts/FiraSans-Medium.ttf"),
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf"),
}

