/*@font-face {
    font-family: 'Russo';
    src: url('../../fonts/russo_one-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
  font-family: 'Russo One';
  src: url("../fonts/Russo_One.ttf"), url("../fonts/russo_one-webfont.woff") format("woff"); }
