.cooperation {
    background-image: url("../img/bg/bg-2.jpg");
    background-size: cover;
    position: relative;
}

.cooperation__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include phone {
        justify-content: flex-start;
    }
}

.cooperate__title {
    color: #fefefe;
    font-family: 'Russo One';
    font-size: 45px;
    font-weight: 400; 
    text-align: center;
    padding-bottom: 70px;
    letter-spacing: 2px;

    @include phone {
        font-size: 25px;
        padding: 40px 0 35px 0;
    }

    @include tablet {
        font-size: 35px;
        padding: 40px 0 35px 0;
    }

    @include desktop {
        font-size: 40px;
        padding: 40px 0 35px 0;
        
    }
}

.advantages__item {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-content: stretch;

    @include phone {
        height: none;
    }
}

.advantages__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-bottom: 50px;
    @include phone {
        flex-direction: row;
        padding: 0;
        display: -webkit-inline-box;
        padding-bottom: 15px;
    }

    @include desktop {
        
        padding-bottom: 2px;
    }

}

.advantages__title, .advantages__desc {
    color: white;
}

.advantages__title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-family: FiraSans-Medium;

    @include phone {
        font-size: 22px;
        text-align: left;
    }

    @include tablet { 
        font-size: 20px;
    }
}

.advantages__desc {
    font-size: 15px;
    padding-left: 30px;
    font-family: Roboto;
    @include phone {
        display: none;
    }

    @include tablet {
        font-size: 14px;
    }
}

.cooperate__icon {
    margin-bottom: 25px;
    width: 100px;
    height: 100px;
    @include phone {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        margin-bottom: 0;
    }

    @include tablet {
        width: 70px;
        height: 70px
    }

    @include desktop {
        width: 80px;
        height: 80px
    }
}



